<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body class="col-md-10 col-md-offset-1 col-xs-12">
    <table class="table table-bordered table-hover">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Cor</th>
            <th>Tamanho</th>
            <th>Som</th>
        </tr>
        <% for(var i=0; i<data.length;i++) { %>
            <tr>
                <td>
                    <%=data[i]._id%>
                </td>
                <td>
                    <%=data[i].name%>
                </td>
                <td>
                    <%=data[i].color%>
                </td>
                <td>
                    <%=data[i].size%>
                </td>
                <td>
                    <%=data[i].noise%>
                </td>
            </tr>
            <%}%>

    </table>
</body>

</html>